<div flex layout="row">
	
	<div layout="row" ng-controller="GameController as gc" >
		<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
		<h3>Open Games:</h3>
		<md-divider/>
			<md-list>
				<md-item ng-repeat="g in gc.games | orderBy:'createdOn'">
					<md-button ui-sref="games.details({gameId: g.id})">
						{{g.title}} - Players: {{g.players.length}} / {{g.maxPlayers}}
					</md-button>
				</md-item>
			</md-list>
			<md-button ui-sref="users.list" class="md-raised md-primary">Join Game</md-button>
		</md-sidenav>

	</div>
	<!-- END FLEX -->

	<!-- BEGIN MD-CONTENT -->
	<md-content flex id="content">
		<div ui-view layout-fill></div>
	</md-content>
	<!-- END MD-CONTENT -->
</div>